.Image {
  width: 20%;
  margin: 0 auto;
  padding: 20px;
  margin-top: 5%;
  background-color: white;
  margin-bottom: 5%;
}

.Header {
  letter-spacing: 3px;
  color: #46b5d1;
  font-size: 2rem;
}

.Dropdown {
  width: 50%;
  margin: 0 auto;
  text-align: left;
  margin-bottom: 10px;
}

@media (max-width: 500px) {
  .Dropdown {
    width: 100%;
    padding: 10px;
  }
  .Image {
    width: 70%;
  }
}
